# Entorno virtual Python
/backend/venv/
/frontend/venv/
/*.venv/
/venv/
/ENV/
/env/

# Bytecode de Python
**/__pycache__/
**/*.py[cod]

# Bases de datos locales
/backend/products.db
/*.db

# Configs de VS Code
/.vscode/

# Dependencias de Node
/frontend/node_modules/

# Archivos de build
/frontend/dist/
/backend/*.egg-info/

# Variables de entorno
*.env
.env.*

# Archivos de sistema
.DS_Store
Thumbs.db
